/*heading css*/
a, .text-primary, .primary li:before, .breadcrumb-row ul li a, .header-nav .nav > li.active > a, .header-nav .nav > li.current-menu-item > a .header-nav .nav > li .sub-menu li a:hover, .header-nav .nav > li:hover > a, .header-nav .nav > li .mega-menu > li ul a:hover, .header-nav .nav > li .sub-menu li:hover > a, .nav-dark.header-nav .nav > li .sub-menu li:hover > a, .nav-dark.header-nav .nav > li .mega-menu > li ul a:hover, blockquote:before, ol.comment-list li.comment .reply a, footer a:active, footer a:focus, footer a:hover, footer h1 a, footer h2 a, footer h3 a, footer h4 a, footer h5 a, footer h6 a, footer p a, .testimonial-1 .testimonial-position, .testimonial-4 .testimonial-name:after, .testimonial-2 .testimonial-position, .testimonial-3 .testimonial-position, .testimonial-3 .quote-left:before, .acod-head a:after, .acod-head a, .acod-head a:hover, .acod-head a.collapsed:hover, .rdx-tabs .nav-tabs > li > a i, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .gallery-filters ul li:hover a, .gallery-filters ul li a:focus, .gallery-filters ul, .comments-area .comments-title::first-letter, .header-style-2.dark .header-nav .nav > li.active > a, .header-style-2.dark .header-nav .nav > li:hover > a {
    color: #8a7bd1;
}

#bg {
    background-attachment: fixed;
    background-size: cover;
}

body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.page-wraper {
    background: #F4F5F5;
}

.site-header {
    position: relative;
    z-index: 999;
}

.top-bar {
    background-color: #fff;
    color: #ababab;
    padding: 5px 0;
    overflow: hidden;
}

.top-bar-curve {
    position: relative;
    z-index: 2;
    min-height: 40px;
}

.top-bar-curve:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
    height: 100%;
    content: "";
    z-index: -1;
    transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -o-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    transform: skewX(35deg);
}

.header-style-6 .top-bar .rdx-topbar-right,
.header-style-6 .top-bar .rdx-topbar-left {
    padding: 0;
}

.rdx-topbar-left {
    float: left;
}

.site-header ul,
.site-header ol {
    margin-bottom: 0;
}

.social-bx,
.login-bx {
    margin: 0 0 0 15px;
    float: right;
}

dl,
ul,
ol {
    list-style-position: outside;
    padding: 0;
}

.header-style-6 .top-bar li {
    color: #fff;
}

.social-bx li {
    padding-left: 1px;
    padding-right: 1px;
}

.social-bx li, .login-bx li {
    font-size: 12px;
    margin: 0;
    position: relative;
}

ul li, ol li {
    padding: 0;
}

.header-style-6 .top-bar .fa {
    font-size: 15px;
    height: 35px;
    padding: 10px 5px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    color: #ABABAB;
    margin: 0;
    color: #fff;
}

.social-bx li a, .login-bx li a {
    color: #ffffff;
}

a {
    color: #EFBB20;
    outline: 0 none;
    text-decoration: none;
}

.main-bar {
    background: #FFFFFF;
    width: 100%;
    position: relative;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.main-bar .container {
}

.header-style-6 .logo-header {
    margin-top: -20px;
}

.logo-header {
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    font-size: 36px;
    color: #EFBB20;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 240px;
    height: 90px;
    position: relative;
    z-index: 9;
}

.logo-header > a, .logo-footer > a {
    display: table-cell;
    vertical-align: middle;
}

.logo-header img, .logo-footer img {
    max-width: 300px;
    width: auto;
    height: auto;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.navbar-toggle {
    border: 2px solid #EFBB20;
    margin: 24px 0 24px 15px;
    padding: 12px 10px;
}

.navbar-toggle span {
    background: #666;
}

.extra-nav .extra-cell {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.site-button {
    background-color: #8a7bd1;
}

.site-button, .site-button-secondry {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
}

.e-p-bx li {
    display: inline;
    font-size: 14px;
    padding-right: 10px;
}

.header-style-6 .top-bar {
    border-top: 4px solid;
    padding: 0;
}

/*nav bar*/
.navbar-collapse:before {
    display: table;
    content: " ";
}

.header-nav .nav {
    float: right;
}

.site-header ul, .site-header ol {
    margin-bottom: 0;
}

.header-nav .nav > li {
    margin: 0px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.header-style-6 .header-nav .nav > li.active:before {
    border-bottom-color: #8a7bd1;
}

.header-style-6 .header-nav .nav > li.active:before, .header-style-6 .header-nav .nav > li:hover > a:before {
    border-bottom: 8px solid;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    bottom: 0;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
}

a, .text-primary, .primary li:before, .breadcrumb-row ul li a, .header-nav .nav > li.active > a, .header-nav .nav > li.current-menu-item > a .header-nav .nav > li .sub-menu li a:hover, .header-nav .nav > li:hover > a, .header-nav .nav > li .mega-menu > li ul a:hover, .header-nav .nav > li .sub-menu li:hover > a, .nav-dark.header-nav .nav > li .sub-menu li:hover > a, .nav-dark.header-nav .nav > li .mega-menu > li ul a:hover, blockquote:before, ol.comment-list li.comment .reply a, footer a:active, footer a:focus, footer a:hover, footer h1 a, footer h2 a, footer h3 a, footer h4 a, footer h5 a, footer h6 a, footer p a, .testimonial-1 .testimonial-position, .testimonial-4 .testimonial-name:after, .testimonial-2 .testimonial-position, .testimonial-3 .testimonial-position, .testimonial-3 .quote-left:before, .acod-head a:after, .acod-head a, .acod-head a:hover, .acod-head a.collapsed:hover, .rdx-tabs .nav-tabs > li > a i, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .gallery-filters ul li:hover a, .gallery-filters ul li a:focus, .gallery-filters ul, .comments-area .comments-title::first-letter, .header-style-2.dark .header-nav .nav > li.active > a, .header-style-2.dark .header-nav .nav > li:hover > a {
    color: #8a7bd1;
}

.header-style-6 .header-nav .nav > li > a {
    text-transform: none;
    font-weight: 600;
    position: relative;
}

.header-nav .nav > li.active > a, .header-nav .nav > li.current-menu-item > a {
    background-color: transparent;
}

.header-nav .nav > li > a {
    border-radius: 0px;
    font-size: 14px;
    padding: 35px 12px;
    cursor: pointer;
    font-weight: 600;
}

.header-nav .nav i {
    font-size: 9px;
    margin-left: 3px;
    margin-top: -3px;
    vertical-align: middle;
    opacity: 0.7;
}

.header-nav .nav > li .sub-menu {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    display: block;
    left: 0;
    list-style: none;
    margin: 0px 0 0;
    opacity: 0;
    padding: 0px;
    position: absolute;
    visibility: hidden;
    width: 220px;
    z-index: 10;
}

.header-nav .nav > li .sub-menu li {
    border-bottom: 1px solid #f4f4f4;
    position: relative;
}

.header-nav .nav > li .sub-menu li a {
    color: #777777;
    display: block;
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.15s linear;
}

@media only screen and (max-width: 768px) {
    .header-style-6 .top-bar {
        border-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .top-bar-curve {
        padding: 2px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .header-style-6 .top-bar .top-bar-curve .rdx-topbar-left li:last-child {
        display: none;
    }
}

@media only screen and (min-width: 441px) {
    .header-style-6 .navbar-toggle {
        margin: 25px 0 15px 5px;
        padding: 11px 10px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-toggle {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .header-style-6 .logo-header {
        width: 200px;
    }
}

@media only screen and (max-width: 991px) {
    .header-nav .nav {
        float: none;
        margin: 0;
        background: #fff;
    }
}

@media only screen and (max-width: 991px) {
    .header-nav .nav i {
        float: right;
    }
}

@media only screen and (max-width: 991px) {
    .header-nav .nav i {
        margin-top: 6px;
    }
}

@media only screen and (max-width: 767px) {
    .header-nav .nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*home css*/

.home-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 159.5%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #2c2f2f70;
}

.title {
    color: #fff;
    font-size: 58px;
    line-height: 70px;
    font-weight: 800;
    position: absolute;
    top: 32%;
    left: 27%;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 3px;

}

.page-content {
    margin-top: 0;
    padding-bottom: 50px;
}

.home-banner {
    padding-right: 0px;
    padding-left: 0px;

}

/*4 boxes design*/
.section-full {
    position: relative;
}

.bg-white {
    background-color: #FFF;
}

.row:before {
    display: table;
    content: " ";
}

.icon-bx-wraper.center {
    text-align: center;
}

.icon-bx-wraper {
    position: relative;
}

.p-a0 {
    padding: 0;
}

.icon-bx-lg {
    width: 120px;
    height: 120px;
    line-height: 120px;
}

.icon-bx-xl, .icon-bx-lg, .icon-bx-md, .icon-bx-sm, .icon-bx-xs {
    display: inline-block;
    text-align: center;
}

[class*="icon-bx-"][class*="bg-"] a {
    color: #fff;
}

.icon-bx-lg i {
    font-size: 60px;
}

.text-white {
    color: #FFF;
}

.icon-content {
    overflow: hidden;
}

.p-tb30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.p-lr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.icon-bx-wraper .rdx-tilte {
    margin-top: 0;
    position: relative;
}

.text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white .title-small {
    color: #FFF;
}

.m-b10 {
    margin-bottom: 10px;
}

.font-weight-900 {
    font-weight: 900;
}

h2 {
    font-size: 24px;
    line-height: 38px;
}

.icon-bx-wraper p:last-child {
    margin: 0;
}

/*our school services*/
.rdx-box {
    height: 450px;
}

.rdx-info {
    height: 208px;
}

/* slider*/

.testimonial_columns_text_carousel_wrapper {
    background: #fff;
}

.testimonial_columns_text_carousel_wrapper {
    padding: 40px;
    overflow: hidden;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.testimonial_columns_text_carousel_caption {
    padding: 15px;
    padding-top: 25px;
    text-align: center;
}

.testimonial_columns_text_carousel_indicators {
    bottom: 10px;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 20px;
    }
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.testimonial_columns_text_carousel_indicators li {
    background: #fee299;
}

.testimonial_columns_text_carousel_indicators .active {
    background: #feb600;
}

.testimonial_columns_text_carousel_indicators .active {
    width: 10px;
    margin: 1px;
    height: 10px;
    border: 0;
}

.testimonial_columns_text_carousel_indicators li {
    border: 0;
}

/* slider end*/
.section-head {
    margin-bottom: 35px;
}

.text-center {
    text-align: center;
}

.section-head h1, .section-head h2, .section-head h3 {
    margin-top: 0;
}

.rdx-separator-outer {
    overflow: hidden;
}

.rdx-separator.style-liner {
    width: 20px;
}

.rdx-separator[class*="style-"]:after, .rdx-separator[class*="style-"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 70px;
    height: 1px;
    background: #cecece;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rdx-separator[class*="style-"]:before {
    left: auto;
    right: 30px;
}

.clear {
    clear: both;
}

.text-center.section-head p {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.section-head p {
    padding-top: 10px;
    font-size: 14px;
    color: #9897a0;
}

.m-b0 {
    margin-bottom: 0;
}

p {
    line-height: 24px;
    margin-bottom: 24px;
}

.m-b30 {
    margin-bottom: 30px;
}

.m-b40 {
    margin-bottom: 40px;
}

.rdx-box, .rdx-info, .rdx-tilte, .rdx-tilte-inner {
    position: relative;
}

.rdx-img-effect {
    position: relative;
    overflow: hidden;
    display: block;
}

/*our pholosopy*/

.icon-bx-wraper.bx-style-1, .icon-bx-wraper.bx-style-2 {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

.icon-bx-xl.radius, .icon-bx-lg.radius, .icon-bx-md.radius, .icon-bx-sm.radius, .icon-bx-xs.radius {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.icon-bx-md {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.icon-bx-md i {
    font-size: 45px;
}

.icon-bx-xl i, .icon-bx-lg i, .icon-bx-md i, .icon-bx-sm i, .icon-bx-xs i {
    vertical-align: middle;
}

.radius-sm {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.p-a20 {
    padding: 20px;
}

/*meet outr carrer*/
.border-1 {
    border-width: 1px;
}

.border-1, .border-2, .border-3, .border-4, .border-5 {
    border-style: solid;
}

/* our event gallery*/

.filter-button.active {
    background-color: #e32222;
    color: white;
}

.btn-default.active {
    background-color: #e32222;
    color: white;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #e32222;
    border-radius: 5px;
    text-align: center;
    color: #e32222;
    margin-bottom: 30px;
}

.gallery-product {
    margin-bottom: 30px;
    cursor: pointer;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.gallery-product-img {
    /*height: 320px !important;*/
    /* background-size: cover;
     border: 1px solid #e32222;
     border-radius: 5px;*/
    transition: .5s ease;
    backface-visibility: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.img-overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/* footer*/
footer p,
footer strong,
footer b,
footer {
    color: #fff;
}

.p-t50 {
    padding-top: 50px;
}

.widget {
    margin-bottom: 40px;
}

.m-b15 {
    margin-bottom: 15px;
}

.m-t15 {
    margin-top: 15px;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

.m-t10 {
    margin-top: 10px;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.rdx-social-icon {
    display: inline-block;
    margin: 0 -3px;
    padding: 0;
    text-align: center;
}

.rdx-footer.border li {
    padding: 0 3px;
}

.rdx-social-icon li {
    display: inline-block;
    padding: 0;
    font-size: 12px;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

.rdx-separator.style-liner {
    width: 20px;
}

.rdx-separator {
    display: inline-block;
    height: 3px;
    width: 50px;
    margin-bottom: 10px;
    position: relative;
}

.bg-white {
    background-color: #FFF;
}

.widget_gallery li {
    display: inline-block;
    margin-bottom: 5px;
    width: 32.1%;
    border: 2px solid transparent;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

ul li, ol li {
    padding: 0;
}

footer a, footer a:visited {
    color: #fff;
}

.site-footer .widget_getintuch {
    padding-top: 0;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

footer .widget_getintuch i {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.widget_getintuch i {
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.widget_getintuch b, .widget_getintuch strong {
    display: block;
    text-transform: uppercase;
}

.widget_getintuch li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}

.widget_links li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}

.widget_gallery a {
    display: inline-block;
}

.p-tb30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.p-lr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.font-weight-600 {
    font-weight: 600;
}

.font-18 {
    font-size: 18px;
}

.input-group {
    width: 100%;
}

.m-t10 {
    margin-top: 10px;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.rdx-social-icon.border li {
    padding: 0 3px;
}

.rdx-social-icon li {
    display: inline-block;
    padding: 0;
    font-size: 12px;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

.m-t10 {
    margin-top: 10px;
}

.clearfix:after {
    clear: both;
}

/* OUR SERVICES */

.overlay-black-light, .overlay-black-middle, .overlay-black-dark, .overlay-gradient-light, .overlay-gradient-middle, .overlay-gradient-dark, .overlay-white-light, .overlay-white-middle, .overlay-white-dark, .overlay-primary-light, .overlay-primary-middle, .overlay-primary-dark {
    position: relative;
}

.rdx-bnr-inr {
    height: 300px;
    background-size: cover;
    background-position: center center;
    display: table;
    width: 100%;
}

.overlay-black-light .container, .overlay-black-middle .container, .overlay-black-dark .container, .overlay-white-light .container, .overlay-white-middle .container, .overlay-white-dark .container, .overlay-primary-light .container, .overlay-primary-middle .container, .overlay-primary-dark .container, .overlay-black-light .container-fluid, .overlay-black-middle .container-fluid, .overlay-black-dark .container-fluid, .overlay-white-light .container-fluid, .overlay-white-middle .container-fluid, .overlay-white-dark .container-fluid, .overlay-primary-light .container-fluid, .overlay-primary-middle .container-fluid, .overlay-primary-dark .container-fluid {
    position: relative;
    z-index: 1;
}

.rdx-bnr-inr .container {
    display: table;
    height: 100%;
}

.rdx-bnr-inr-entry {
    display: table-cell;
    vertical-align: middle;
}

.text-white {
    color: #FFF;
}

.overlay-black-middle:after {
    opacity: 0.5;
}

.overlay-black-light:after, .overlay-black-middle:after, .overlay-black-dark:after {
    background: #000;
}

.overlay-black-light:after, .overlay-black-middle:after, .overlay-black-dark:after, .overlay-gradient-light:after, .overlay-gradient-middle:after, .overlay-gradient-dark:after, .overlay-white-light:after, .overlay-white-middle:after, .overlay-white-dark:after, .overlay-primary-light:after, .overlay-primary-middle:after, .overlay-primary-dark:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-white {
    background-color: #FFF;
}

.section-full:last-child {
    margin-bottom: -50px;
}

.rdx-img-effect.zoom-slow img {
    transition: all 10s;
    -moz-transition: all 10s;
    -webkit-transition: all 10s;
    -o-transition: all 10s;
}

.rdx-img-effect img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.25s;
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
}
.ow-carousel-entry {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
}
.ow-entry-content, .ow-entry-content2 {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    min-height: 280px;
}
.ow-entry-footer {
    margin-bottom: 15px;
}
.ow-entry-title, .ow-entry-title a {
    color: #3d474a;
}
.ow-entry-title {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}
.collaboration .ow-entry-content {
    min-height: 290px;
}
.collaboration .ow-entry-content2 {
    min-height: 385px;
}
.collaboration .ow-entry-media img {
    height: 250px !important;
}
.m-tb0 {
    margin-bottom: 0;
    margin-top: 0;
}

.ow-entry-title, .ow-entry-title a {
    color: #3d474a;
}

.ow-entry-text p:last-child {
    margin: 0;
}

/*contact us*/
.content-area {
    padding-top: 40px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #58575d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    /*text-decoration: underline;*/
}

.m-b30 {
    margin-bottom: 30px;
}

.p-a30 {
    padding: 30px;
}

.form-group {
    margin-bottom: 25px;
}

.input-group {
    width: 100%;
}

.input-group-addon.v-align-t {
    line-height: 30px;
}

.m-l30 {
    margin-left: 30px;
}

.no-margin {
    margin: 0 0 0 !important;
    list-style: none;
}

.icon-bx-wraper {
    position: relative;
}

.icon-bx-wraper.left .icon-bx-xl, .icon-bx-wraper.left .icon-bx-lg, .icon-bx-wraper.left .icon-bx-md, .icon-bx-wraper.left .icon-bx-sm, .icon-bx-wraper.left .icon-bx-xs {
    float: left;
    margin-right: 20px;
}

.icon-bx-xs {
    width: 40px;
    height: 40px;
    line-height: 37px;
}

.icon-bx-xl, .icon-bx-lg, .icon-bx-md, .icon-bx-sm, .icon-bx-xs {
    display: inline-block;
    text-align: center;
}

[class*="icon-bx-"][class*="bg-"] a {
    color: #fff;
}

a, .rdx-box, .btn, .form-control, .overlay-bx, .overlay-icon li a i, .icon-bx-xl, .icon-bx-lg, .icon-bx-md, .icon-bx-sm, .icon-bx-xs, .share-social-bx li, .indicator, .profile-menu ul li, .staff-member .member-done, .how-rdx-work .rdx-box .shadow-bx img, .how-rdx-work .rdx-box .step-no-bx, .rdx-info-has, .rdx-we-find .rdx-box, .navbar-toggle, .logo-header, .header-nav .nav > li > a, .extra-nav, .skew-secondry:hover, .skew-primary:hover, .skew-secondry:hover::after, .skew-primary:hover::after {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.icon-bx-xs i {
    font-size: 20px;
}

.icon-bx-xl i, .icon-bx-lg i, .icon-bx-md i, .icon-bx-sm i, .icon-bx-xs i {
    vertical-align: middle;
}

.icon-content {
    overflow: hidden;
}

/*enquiry form css*/

.conact-form .item {
    padding: 0 0 1.8rem;
}

.enquiry-form .item {
    padding: 0 0 1.8rem;
}

/*.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/
.conact-form .site-button {
    background-color: #fff;
}

.enquiry-form .site-button {
    background-color: #ee3131;;
}

.conact-form input[type=button] {
    color: #101010;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
}

.enquiry-form input[type=button] {
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
}

.conact-form .sube {
    text-align: right;
    padding-bottom: 25px;
}

.enquiry-form .sube {
    text-align: right;
    padding-bottom: 25px;
}

.rev_slider_wrapper {
    position: relative;
    z-index: 0;
}

.rev_slider {
    overflow: hidden;
}

.rev_slider {
    position: relative;
}

@media only screen and (max-width: 991px) {
    .page-content {
        margin-top: 0;
    }
}

.footer-info-box a:hover {
    color: #d4d4d4 !important;
}

.header-cost .container-fluid {
    position: relative;
}

@media (max-width: 992px) {
    .title {
        font-size: 21px;
        line-height: 24px;
        font-weight: 700;
        top: 20%;
        left: 27%;
    }
    .logo-header img, .logo-footer img {
        max-width: 100%;
        margin: 34px 0 0 0;
        width: auto;
        height: auto;
    }

    .header-nav .nav > li > a {
        border-radius: 0px;
        font-size: 14px;
        padding: 7px 12px;
        cursor: pointer;
        font-weight: 600;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-top: 76px;
        margin-left: -15px;
    }

    .gallery-product .img-thumbnail {
        width: 100%;
    }

    .testimonial_columns_text_carousel_wrapper {
        padding: 40px 0px 40px 0px;
        overflow: hidden;
    }
}